@import '//fonts.googleapis.com/css?family=Roboto';
body {
	background: #f7f7f7;
	font-family: 'Roboto';
}

#signupform {
	font-family: 'Roboto';
	width: 50%;
	padding: 50px;
	background-color: #e0e0e0;
	border: 3px solid #adadad;
	border-radius: 30px;
	margin-top: 2%;
}

.login-group-checkbox {
	margin-left: 42%;
}

.login-button {
	-webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
	color: white;
	width: 90%;
	height: 50px;
	background-color: #007bff;
	border: 2px solid #005dc1;
	border-radius: 5px;
}

.login-button:hover { 
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  border: 1px solid rgba(81, 203, 238, 1);
}